// body {
//     a {
//         text-decoration: none;
//         color: map-get($fuentes,font-color-primary)
//     }
//     background-color: map-get($colores , bg );
//     @extend %flexRow;
//     .container {     
//         @include flexbox(row, space-between,nowrap);   
//         background-color: map-get($colores ,blue-dark);
//     }
// }


// @include mediaQuery (500px){
//     body{
//         background-color: map-get($colores , secondary)
//     }
// }

.container-nav{
    position: sticky;
    display: flex;
    top: 0;
    background-color: map-get($colores , blue-dark);
    z-index: 10;
    padding: 10px;
}

.container-nav a{
    @include fontMain($size:20px,$bold:none,$color:white);
    display: flex;
    justify-self: flex-end;
}

// .container-nav a:hover{
//     @include fontMain($size:20px,$bold:none,$color:#333);
//     background-color: map-get($colores ,blue-middle);
// }

// .container-nav a.active {
//     @include fontMain($size:20px,$bold:none,$color:#333);
//     background-color: map-get($colores ,blue-middle);
// }

/* FOOTER */

.footer__nav {
    display: flex;
    position: absolute;
    bottom: 0;
    z-index: 10;
    text-decoration: none;
    width: 100%;
}

#footerUl {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content:center;
    align-items:center;

    background-color: map-get($colores ,blue-dark);

}


.fa-facebook-square, .fa-youtube, .fa-instagram {
    background-color: transparent;
    color: #e7eaeb;
    font-size: 2rem;
    padding: 20px;
}


@media (min-width: 767.98px) { 
    #carouselExampleCaptions {

        padding-top: calc(1rem * 2) !important;
    }
    
    .text-article-content {
        grid-column: 2/3;
    }
    .text-article-image {
        align-items: center;
        grid-column: 3 / 4;
        grid-row: 1;
    }

    .contactus{
        display: flex;
        align-items: center;
        justify-content:  center;
        flex-direction: row;
    }    

    iframe {
        display: flex;
        padding-right: calc(1rem*3);
    }
}


@include mediaQuery (mobile,391px){
    body {
        background-color: map-get($colores , bg);
        .container-nav {
            a:not(:first-child) {display: none;}
            a.icon {
                float: right;
                display: block;
                position: absolute;
                right: 17px;
                top: 18px;
                color: white;
            }
        }

        .container-nav.responsive {position: relative;}
        .container-nav.responsive .icon {
            position: absolute;
            right: 17px;
            top: 18px;
        }
        .container-nav.responsive a:not(:first-child):not(.icon){
            float: none;
            display: block;
            text-align: left;
            padding: 10px;
        }
    }
}

@include mediaQuery (tableta,$tamaño:768px){
    body {
        background-color: map-get($colores , bg);
    }
}


@include mediaQuery (desktop,$tamaño:760px){
    body {
        background-color: map-get($colores , bg);
        .container-nav {
            display: flex;
            justify-content: flex-start;
            a:not(:first-child){
                @include fontMain($size:34px,$bold:none,$color:white);
                margin-left: 60px;
            }
            a.icon{display: none;}
        }
    }
    
}