* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: map-get($fuentes , font-primary );
    font-size: map-get($fuentes , font-size-primary );
}

body {
    background-color: map-get($colores , bg);
    width: 100%;
}


a {
    text-decoration: none;    
}